@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap");
@keyframes spin {
  from {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
    z-index: -999;
  }
}
@keyframes rotate-icon {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes menu-loading-display {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans_serif";
  font-weight: 100;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

ul {
  list-style: none;
  font-weight: bold;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

header {
  position: relative;
  margin: 30px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .logo__img img {
    width: 50%;
  }
}
.back_icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  margin: auto 0;
}
.back_icon i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .back_icon i {
    font-size: 30px;
  }
}
.loader {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: #fff;
  opacity: 0.9;
  z-index: 999;
  animation-name: fade-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border: 10px solid #ffdff6;
  border-top: 10px solid #FF79DA;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s ease-in-out infinite;
}

.location {
  background-color: #dddddd;
}
.location__town {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 3px 5px -5px #000;
  padding: 20px 0;
}
.location__town p {
  font-weight: bold;
  padding-left: 10px;
}
.location__explore {
  display: flex;
  flex-direction: column;
  padding: 45px 35px;
  background-color: #f6f6f6;
  align-items: center;
  text-align: center;
}
.location__explore--button {
  text-align: center;
  border-radius: 30px;
  padding: 15px 45px;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  transform: scale(1);
  transition: all 400ms;
  font-weight: 500;
  color: #fff;
  box-shadow: 0px 8px 16px 0 #b6b6b6;
}
.location__explore--button:hover {
  background: linear-gradient(to left top, #a16be0, #ff93e1);
  transform: scale(1.02);
  box-shadow: 0px 8px 16px 0 #aaaaaa;
}
.location__explore p {
  padding: 25px 0;
}

@media screen and (min-width: 768px) {
  .location {
    background-color: transparent;
  }
  .location__town {
    box-shadow: none;
  }
}
.functioning {
  max-width: 1240px;
  margin: auto;
  padding: 45px 35px;
}
.functioning ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.functioning ul li {
  border-radius: 25px;
  padding: 35px 0;
  flex: 1 1 auto;
  background-color: #f6f6f6;
  box-shadow: 0px 8px 16px 0 #dddddd;
}
.functioning ul li i {
  color: #989898;
  padding: 0 10px;
}
.functioning ul li .functioning--number {
  font-family: "Roboto", "sans_serif";
  background-color: #9356DC;
  color: #fff;
  padding: 6px 9px;
  margin-left: -10px;
  border-radius: 100%;
}
.functioning ul li:hover {
  box-shadow: 0px 8px 16px 0 #d0d0d0;
  background-color: #f2eafb;
}
.functioning ul li:hover .fa-icon {
  color: #9356DC;
}

.restaurant {
  max-width: 1240px;
  margin: auto;
  background-color: #f6f6f6;
  padding: 45px 35px;
}
.restaurant__listing__cards {
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.restaurant__listing__cards a {
  flex: 1 1 100%;
}
@media screen and (min-width: 768px) {
  .restaurant__listing__cards a {
    flex: 1 1 48%;
  }
}
.restaurant__listing__cards__singlecard {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0 #dddddd;
}
.restaurant__listing__cards__singlecard:hover {
  box-shadow: 0px 8px 16px 0 #d0d0d0;
}
.restaurant__listing__cards__singlecard img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.restaurant__listing__cards__singlecard .new {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #278870;
  font-weight: bold;
  background-color: #99E2D0;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0 #5d5d5d;
}
.restaurant__listing__cards__singlecard--description {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 20px 15px 20px;
}
.restaurant__listing__cards__singlecard--favorite {
  font-size: 22px;
  position: relative;
}
.restaurant__listing__cards__singlecard--favorite .full-heart {
  position: absolute;
  right: 0;
  transition: all 400ms ease-in-out 0.2s;
  color: transparent;
  background: linear-gradient(to left bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurant__listing__cards__singlecard--favorite .full-heart:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.3);
}

footer {
  padding: 45px 35px;
  background-color: #373737;
  color: #fff;
  font-size: 15px;
}
footer h2 {
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  margin-bottom: 0;
}
footer li {
  padding: 5px 0;
}
footer i {
  padding: 0 10px 0 0;
}

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }
}
.menu__img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.menu__global {
  max-width: 1240px;
  margin: auto;
  border-radius: 50px 50px 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  padding: 45px 35px 65px 35px;
  display: flex;
  flex-direction: column;
}
.menu__global__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
}
.menu__global__header--favorite {
  font-size: 22px;
  position: relative;
}
.menu__global__header--favorite .full-heart {
  position: absolute;
  right: 0;
  transition: all 400ms ease-in-out 0.2s;
  color: transparent;
  background: linear-gradient(to left bottom, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.menu__global__header--favorite .full-heart:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.3);
}
@media screen and (min-width: 768px) {
  .menu__global__header {
    justify-content: center;
    margin: auto;
  }
  .menu__global__header h1 {
    font-size: 30px;
  }
  .menu__global__header--favorite {
    margin-left: 35px;
  }
}
.menu__global__content {
  margin-top: 55px;
  gap: 55px;
  display: flex;
  flex-direction: column;
}
.menu__global__content__course {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.menu__global__content__course h3 {
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
}
.menu__global__content__course h3::after {
  content: " ";
  position: absolute;
  width: 50px;
  left: 0;
  top: 25px;
  border-bottom: 3px solid #99E2D0;
}
.menu__global__content__course__detail {
  animation: menu-loading-display 1s;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0 #dddddd;
}
.menu__global__content__course__detail:nth-child(1) {
  animation-delay: 400ms;
}
.menu__global__content__course__detail:nth-child(2) {
  animation-delay: 800ms;
}
.menu__global__content__course__detail:nth-child(3) {
  animation-delay: 1200ms;
}
.menu__global__content__course__detail:nth-child(4) {
  animation-delay: 1600ms;
}
.menu__global__content__course__detail:nth-child(5) {
  animation-delay: 2000ms;
}
.menu__global__content__course__detail:hover {
  cursor: pointer;
  box-shadow: 0px 8px 16px 0 #d0d0d0;
}
.menu__global__content__course__detail:hover .button--check {
  flex: 2;
  opacity: 1;
}
.menu__global__content__course__detail:hover .button--check i {
  animation: rotate-icon 500ms ease-in-out 400ms;
}
.menu__global__content__course__detail h4, .menu__global__content__course__detail p {
  padding: 2px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__global__content__course__detail--description {
  padding: 20px;
  flex: 5;
  overflow: hidden;
}
.menu__global__content__course__detail--description p {
  font-size: 16px;
}
.menu__global__content__course__detail--price {
  text-align: right;
  flex: 0;
  font-weight: bold;
  padding: 20px;
}
.menu__global__content__course__detail .button--check {
  background-color: #99E2D0;
  flex-shrink: 0;
  text-align: center;
  flex: 0;
  color: #fff;
  border-radius: 0 20px 20px 0;
  padding: 32px 0;
  font-size: 25px;
  opacity: 0;
  transition: all 400ms ease-in-out 0.2s;
  margin-right: 0;
  width: 0;
}
.menu__global--button {
  margin-top: 65px;
  text-align: center;
  border-radius: 30px;
  padding: 15px 45px;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  transform: scale(1);
  transition: all 400ms;
  font-weight: 500;
  color: #fff;
  box-shadow: 0px 8px 16px 0 #b6b6b6;
  width: 200px;
  align-self: center;
}
.menu__global--button:hover {
  background: linear-gradient(to left top, #a16be0, #ff93e1);
  transform: scale(1.02);
  box-shadow: 0px 8px 16px 0 #aaaaaa;
}
@media screen and (min-width: 1240px) {
  .menu__global__content {
    flex-direction: row;
    gap: 20px;
  }
  .menu__global__content__course {
    flex: 1;
  }
  .menu__global__content__course h3 {
    text-align: center;
  }
  .menu__global__content__course h3::after {
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
