footer{
    padding:45px 35px;
    background-color: $footer-color;
    color:$white-color;
    font-size: 15px;
    h2{
        font-family: $title_font_family;
    }
    ul{
        margin-bottom:0;
    }
    li{
        padding:5px 0;
    }
    i{
        padding:0 10px 0 0;
    }    
}
@include screen-min-width($min-width){
    footer{
       text-align: center;
    }    
}