//layout for the main sections
//loader
.loader {
    @include loading;
}
//location section
.location{
    //town location display
    &__town{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darken($fourth-color, 5);
        box-shadow: inset 0 3px 5px -5px $black-color;
        p{
            font-weight: bold;  
            padding-left: 10px;     
        } 
    }
    //explore paragraph display
    &__explore{
        background-color: $fourth-color;
        margin: 0;
        padding: 45px;
        text-align: center;
        //explore button        
        &--button{
            @include primary-button;
        }        
    }       
}
//removing background color and box shadow for town location when screen is bigger than phone
@include screen-min-width($min-width){
    .location{
        &__town{
            box-shadow: none;
            background-color: transparent;
        }    
    }    
}
// how it works section
.functioning{
    padding:35px;
    ul{
        display: flex;
        flex-wrap: wrap; 
        gap:35px;        
        //counter-reset: list;       
        li{
            border-radius: 25px;
            padding:35px 0;
            flex:1 1 auto;
            background-color: $fourth-color; 
            @include border-shadow($fourth-color-dark);
            i{
                color: darken($fourth-color,37);  
                padding: 0 25px;            
            }
            .fa-number{
                font-family: $text_font_family;
                background-color: $first-color;
                color:$white-color;
                padding:6px 10px;
                margin-left: -10px;
                border-radius: 100%;
            }
            &:hover{          
                @include border-shadow(darken($fourth-color-dark,5));      
                background-color: $first-color-ligther;                
                .fa-icon{
                    color:$first-color;                    
                }
            }
            /*&::before{
                counter-increment: list;
                content: counter(list);
                background-color: $first-color;
                color:$white-color;
                padding:4px 10px;
                border-radius: 100%;
                margin-left: -10px;
            } */       
        }        
    }
}
//restaurants listing
.restaurant{
    background-color: $fourth-color;
    &__listing{
        padding:35px;
        &__cards{
            padding:15px 0;
            display: flex;
            flex-wrap: wrap;
            gap:25px; 
            a{
                flex:1 1 auto; 
                @include screen-min-width($min-width){
                    flex: 1 1 48%;
                } 
            }                 
            &--singlecard{   
                position: relative;                      
                border-radius: 20px; 
                background-color: $white-color;
                @include border-shadow($fourth-color-dark);  
                &:hover{
                    @include border-shadow(darken($fourth-color-dark,5));
                }              
                img{
                    object-fit: cover;
                    width:100%;
                    height:200px;
                    border-radius: 20px 20px 0 0;
                }
                .new{
                    top:20px;
                    right:20px;
                    position:absolute;
                    color: darken($third-color, 40);
                    font-weight: bold;
                    font-size: 15px;                    
                    padding:5px 15px;
                    background-color: $third-color;
                    @include border-shadow(darken($fourth-color-dark,50));
                    border-radius: 5px;
                }
            } 
            &--name{
                p,h3{
                    margin:0;
                }
            } 
            &--description{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding:20px;
            }
            //favorite icon and animation
            &--favorite{
                justify-content: center;  
                font-size: 22px;
                position: relative;
                .full-heart{
                    position: absolute;
                    right:0px;
                    @include favorite-icon;
                    &:hover{
                        @include favorite-animation;
                    }
                }                            
            }      
        }      
    } 
}
