$first-color:#9356DC;
$first-color-ligther:lighten($first-color,35%);
$second-color:#FF79DA;
$third-color:#99E2D0;
$fourth-color:#f6f6f6;
$fourth-color-dark: darken($fourth-color,10);
$fourth-color-dark-darker:darken($fourth-color,37);
$fourth-color-lighter:lighten($fourth-color, 5%);
$black-color:#000;
$white-color:#fff;