//phone media queries mixin
@mixin screen-max-width($max-width){
	@media screen and (max-width:$max-width){
		@content;
	}
}
//tablet and desktop media queries mixin
@mixin screen-min-width($min-width){
	@media screen and (min-width:$min-width){
		@content;
	}
}
//command and explore button 
@mixin border-shadow($color) {
	box-shadow: 0px 8px 16px 0 $color;	
}
@mixin primary-button{
	display: inline-block;
    border-radius: 30px;         
    padding: 15px 25px;   
    background: linear-gradient(to left top, $first-color, $second-color);
    transform: scale(1);
    transition: all 400ms;
	font-weight: 500;
	color: $white-color;
	@include border-shadow(darken($fourth-color,25));
	&:hover{
		background:linear-gradient(to left top, lighten($first-color, 5%),lighten($second-color, 5%));
		transform: scale(1.02);
		@include border-shadow(darken($fourth-color,30));
	}
} 